{% extends 'base.html' %}

{% set page_head_title = 'Update_users' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Update_users.static', filename='css/assignment10.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <h1>Update_users us</h1>
    <p>This is an example Update_users us page</p>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('Update_users.static', filename='js/assignment10.js') }}"></script>
{% endblock %}
